@using CarCareTracker.Helper
@inject IConfigHelper config



<div class="row vehicleDetailTabContainer flex-grow-1">
    <div class="col-12">
        <div class="row mt-2 showOnPrint">
            <div class="d-flex">
                <img src="@config.GetLogoUrl()" class="lubelogger-logo" />
            </div>
        </div>
        <table class="table table-hover @(userConfig.UseGridInMobile ? "" : "ll-responsive-table")">
            <thead class="sticky-top">
                
            </thead>
        </table>
    </div>
</div>
